/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main); /* Основной шрифт PressStart2P */
}

.card-title {
  font-family: var(--font-accent);
  font-variation-settings: 'wght' var(--font-weight-card-title); /* Настройка веса заголовка карточки */
}

.card-text {
  font-family: var(--font-accent);
  font-variation-settings: 'wght' var(--font-weight-card-text); /* Настройка веса текста карточки */
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.header_container {
  display: flex;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  height: 368px;
  width: 700px;
}

.logo-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.header_logo_main-text {
  font-weight: 400;
  font-size: 65px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.header_logo_supportive-text {
  font-weight: 400;
  font-size: 23px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

/* -------------------------------------------------------------------------- */

.main_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_image {
  width: 696px;
  height: 696px;
}

.post {
  display: flex;
  border: 2px solid black;
  flex-direction: column;
  margin-bottom: 50px;
}

.title {
  font-family: var(--font-accent);
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  margin: 3px 24px 3px 10px;
}

.for-watermark {
  position: relative;
  display: inline-block;
}

.watermark {
  position: absolute;
  top: 25px;
  right: 28px;
  overflow: hidden;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: var(--label-text-color);
  opacity: 50%;
}

.content {
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  flex-wrap: wrap;
  max-width: 646px;
  margin: 25px 25px 25px 25px;
  gap: 27px;
}

.like-button {
  display: flex; /* Размещаем содержимое в строку */
  align-items: center; /* Выравниваем по вертикали */
  border: none; /* Убираем границы кнопки */
  background-color: transparent; /* Прозрачный фон */
  cursor: pointer; /* Курсор руки при наведении */
  width: 169px;
  height: 38px;
  margin-left: 494px;
  margin-bottom: 25px;
}

.like-button img {
  margin-right: 12px; /* Отступ между сердечком и текстом */
}

.like-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  border: 2px solid black; /* Граница вокруг текста "Like" */
  padding: 12.5px 37px; /* Внутренние отступы текста */
}

/* -------------------------------------------------------------------------- */

.footer_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 103px;
}

.save-button {
  border: 2px solid black;
  display: flex; /* Размещаем содержимое в строку */
  align-items: center; /* Выравниваем по вертикали */
  background-color: transparent; /* Прозрачный фон */
  cursor: pointer; /* Курсор руки при наведении */
  padding-right: 17px;
}

.save_as-text {
  padding-left: 8px;
  font-weight: 400;
  font-size: 14px;
  margin-top: 18.5px;
  margin-bottom: 18.5px;
}

.svg_save-as {
  position: relative;
  block-size: 1.5em;
  mix-blend-mode: difference;
}




.dialog {
  width: calc(100% - 40px);
  max-width: 353px;
  height: 191px;
  position: fixed;
}

.dialog-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 5px 5px 0px 5px;
}

.dialog-text {
  width: 234px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.7);
  -webkit-backdrop-filter: blur(10px);
}





@supports (-webkit-text-stroke: 1px transparent) {
  .watermark {
    -webkit-text-stroke: 1px var(--label-border-color); /* Обводка текста */
  }
}
