/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

/* Переменные для шрифтов */
:root {
  --font-main: 'PressStart2P', monospace; /* Основной шрифт */
  --font-accent: 'Inter', sans-serif; /* Акцентный шрифт */

  /* Переменные для толщины текста */
  --font-weight-card-text: 400; /* Вес текста карточки */
  --font-weight-card-title: 700; /* Вес заголовка карточки */
}
